<a href="https://colab.research.google.com/github/Pravargolecha2011229/Projects_year1/blob/main/Unit_4_Python_programming_slide_46.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Load essentail python Libraries
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#Mount the drive
from google.colab import drive
drive.mount('/content/drive')

ValueError: mount failed

In [ ]:


# Specify the file path. Adjust 'My Drive/data.csv' to the actual path in your Google Drive
file_path = '/content/Salaries_rank.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to verify
print(df.head())

   Unnamed: 0      rank discipline  yrs.since.phd  yrs.service   sex  salary
0           1      Prof          B             19           18  Male  139750
1           2      Prof          B             20           16  Male  173200
2           3  AsstProf          B              4            3  Male   79750
3           4      Prof          B             45           39  Male  115000
4           5      Prof          B             40           41  Male  141500

In [ ]:
#Check a particular column type
df['salary'].dtype

dtype('int64')

In [ ]:
#Check types for all the columns
df.dtypes

Unnamed: 0        int64
rank             object
discipline       object
yrs.since.phd     int64
yrs.service       int64
sex              object
salary            int64
dtype: object

In [ ]:
#Calculate mean salary for each professor rank:
df_sub = df[ df['salary'] > 180000 ]
df_sub

     Unnamed: 0  rank discipline  yrs.since.phd  yrs.service   sex  salary
43           44  Prof          B             38           38  Male  231545
77           78  Prof          B             26           19  Male  193000
169         170  Prof          B             25           18  Male  181257
198         199  Prof          B             34           33  Male  189409
249         250  Prof          A             29            7  Male  204000
271         272  Prof          A             42           18  Male  194800
292         293  Prof          A             39            9  Male  183800
330         331  Prof          B             49           60  Male  192253
350         351  Prof          B             56           49  Male  186960
364         365  Prof          A             43           43  Male  205500
389         390  Prof          A             33           18  Male  186023

In [ ]:
#Select only those rows that contain female professors:
df_f = df[ df['sex'] == 'Female' ]

In [ ]:
#Select column salary:
df['salary']

In [ ]:
#Select column salary:
df[['rank','salary']]

In [ ]:
#Select rows by their position:
df[10:20]

In [ ]:
#Select rows by their labels:
df_sub.loc[10:20,['rank','sex','salary']]

In [ ]:
#Select rows by their labels:
df_sub.iloc[10:20,[0, 3, 4, 5]]

In [ ]:
# Create a new data frame from the original sorted by the column Salary
df_sorted = df.sort_values( by ='yrs.service')
df_sorted.head()

In [ ]:
df_sorted = df.sort_values( by =['yrs.service', 'salary'], ascending = [True, False])
df_sorted.head(10)